 .u-section-1 {
  min-height: 815px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 87.14%;
  filter: brightness(0.4);
  height: 817px;
  margin-top: -31px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-group-1 {
  width: 801px;
  min-height: 458px;
  height: auto;
  margin: -525px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 64px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 8rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 781px;
    margin-top: 373px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -519px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 854px;
  }

  .u-section-1 .u-image-1 {
    height: 622px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 793px;
  }

  .u-section-1 .u-image-1 {
    height: 467px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -206px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 659px;
  }

  .u-section-1 .u-image-1 {
    height: 294px;
    margin-top: 382px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -364px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
    font-size: 4.5rem;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 15px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1443px;
}

.u-section-4 .u-image-1 {
  width: 926px;
  height: 1443px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1690px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 1122px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 842px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 530px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}